body {
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2{
    color: aliceblue;
    text-align: center;
}

label{
    color: azure;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
select,
textarea{
    width: 90%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
}

select{
    width: auto;
}

input[type="submit"]{
    width: 100%;
    background-color: #6200ea;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #3700b3;
}